@font-face {
    font-family: "Barlow";
    src: url(/fonts/Barlow-Regular.ttf);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Barlow";
    src: url(/fonts/Barlow-Bold.ttf);
    font-weight: bolder;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Barlow";
    src: url(/fonts/Barlow-ExtraBold.ttf);
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Barlow";
    src: url(/fonts/Barlow-Medium.ttf);;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Barlow";
    src: url(/fonts/Barlow-Light.ttf);;
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}