.btn-primary{
    background-color: #03396c;
}
.title{
    font-size: $font-size-big;
}

.errors{
    border-radius: 5px;
    border: 1px solid red;
    padding:  20px;
    .error{
        color: red;
        font-size: $font-size-base;
    }
}
.success{
    border-radius: 5px;
    border: 1px solid green;
    padding: 20px;
    .successMsg{
        color: green;
        font-size: $font-size-base;
    }
}
h1{
    font-size: $font-size-big !important;
}
h2{
    font-size: $font-size-medium !important;
}
.second-toolbar{
    #logo{
        display: none;
    }
}