nav{
    background-color: 	#03396c;
}
.menu{
    &_actions{
        color: #fff;
        &_wrapper{
            display: flex;
            justify-content: space-between;
        }
    }
    &_action{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        &:hover{
            text-decoration: none;
        }
    }
    &_items{
        color: #fff;
        flex:1;
        &_wrapper{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            @media(min-width: 778px){
                flex-direction: row;
            }
        }
    }
    &_item{
        height: 50px;
        transition: all .2s;
        cursor: pointer;
        position: relative;
        @media(min-width: 778px){
            flex: 1;
        }
        span{
            vertical-align: middle;
            line-height: 1;
            color: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 14px;
            &:hover{
                text-decoration: none;
            }
            @media(min-width: 778px){
                font-size: 16px;
            }
        }
        &:hover{
            background-color: #005b96;
            text-decoration: none;
        }
    }
    &_logo{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @media(min-width: 778px){
            transform: translateY(-50%);
            left: unset;
        }
        img{
            width: 100%;
            height: auto;
        }
        &_wrapper{
            position: relative;
            height: 63px;
            @media(min-width: 778px){
                height: 100%;
            }
        }
    }
}