.analytics{
    &_card{
        height: 150px;
        border-radius: 5px;
        box-shadow: 0 7px 18px -7px hsla(213,9%,58%,.4);
        padding: 15px;
        &:nth-of-type(1) {
            background-color: #8A2BE2;
        }
        &:nth-of-type(2){
            background-color:#4B0082;
        }
        &:nth-of-type(3) {
            background-color:#9370DB;
        }
        .fas, .far{
            color: #fff;
            font-size: 120px;
        }
        &_title, &_content{
            font-size: 25px;
            color: #fff;
        }
    }
}
.chartBlock{
    background-color:rgb(220,220,220);
    border-radius: 5px;
    box-shadow: 0 7px 18px -7px hsla(213,9%,58%,.4);
}

@keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
  }