.discount_badge{
  position: absolute;
  top: 7%;
  left: 3%;
  color: #fff;
  z-index: 10;
  &::after{
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: #f56100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    z-index: -1;
  }
}