#loginPopup{
    position: absolute;
    top: 8%;
    transform: translate(-50%, -50%);
    left: 50%;
    z-index: 15;
    border:none;
    width: 300px;
    @media(min-width: 778px){
        top: 30%;
        width: unset;
    }
    .card-header{
        background-color: #03396c;
        display: flex;
        justify-content: space-between;
        color: #fff;
        i{
            cursor: pointer;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}

.login{
    &_submit{
        display: inline-block;
        width: 100%;
    }
}